body{
    font-family: verdana;
   
    
}
 .color-btn-header{
    background-color: rgb(255, 112, 1);
}
.naruto{
    color:  rgb(255, 112, 1);
    font-weight:bold
}
.color-btn-card{
    color: white;
    
}
.cards-container{
    background-position: center;
    
}
.price-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

}
h5{
    font-weight: bold;
}
h5:hover{
    color:rgb(255, 112, 1);
}
h4{
    color:rgb(255, 112, 1);
    font-weight: bold;
    
}
h4:hover{
    color: black;
}

/*.modal{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    justify-self: self-end;
    flex-direction: row;
    
}*/
.color-btn-modal{
    background-color: rgb(255, 217, 0);

}
.botones.modal{
    display: flex;
    justify-content:center;

}
.personajes{
    text-align: center;
}

    

